<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleAppID</key>
	<string>5S96NFCQ7T</string>
	<key>AppsFlyerDevKey</key>
	<string>z9iokP3YwU3z6uxEkKgJfn</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Fracspace</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.fracspace.fracspace</string>
			<key>CFBundleURLPath</key>
			<string>/</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fracspace</string>
				<string>fsapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.finance</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>phonepe</string>
		<string>gpay</string>
		<string>tez</string>
		<string>paytmmp</string>
		<string>bhim</string>
		<string>upi</string>
		<string>paytm</string>
		<string>credpay</string>
		<string>whatsapp</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>12.0.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>App required camera access to take photo for profile pic</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>app Required Location Access for show Property Location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App required current location via map</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>app Required Location Access for show property Location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App required Photo Library access to upload photo for profile pic</string>
	<key>StallionAppToken</key>
	<string>spb_vPNkIXBSnVeXpOuTmcYt-0gwX-IFfbUMWQ-v4a4xRH</string>
	<key>StallionProjectId</key>
	<string>69cba954415f18f959d46499</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>Barlow-Black.ttf</string>
		<string>Barlow-BlackItalic.ttf</string>
		<string>Barlow-Bold.ttf</string>
		<string>Barlow-BoldItalic.ttf</string>
		<string>Barlow-ExtraBold.ttf</string>
		<string>Barlow-ExtraBoldItalic.ttf</string>
		<string>Barlow-ExtraLight.ttf</string>
		<string>Barlow-ExtraLightItalic.ttf</string>
		<string>Barlow-Italic.ttf</string>
		<string>Barlow-Light.ttf</string>
		<string>Barlow-LightItalic.ttf</string>
		<string>Barlow-Medium.ttf</string>
		<string>Barlow-MediumItalic.ttf</string>
		<string>Barlow-Regular.ttf</string>
		<string>Barlow-SemiBold.ttf</string>
		<string>Barlow-SemiBoldItalic.ttf</string>
		<string>Barlow-Thin.ttf</string>
		<string>Barlow-ThinItalic.ttf</string>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-Heavy.ttf</string>
		<string>Gilroy-Light.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Medium.ttf</string>
		<string>OpenSans-MediumItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>OpenSans_Condensed-Bold.ttf</string>
		<string>OpenSans_Condensed-BoldItalic.ttf</string>
		<string>OpenSans_Condensed-ExtraBold.ttf</string>
		<string>OpenSans_Condensed-ExtraBoldItalic.ttf</string>
		<string>OpenSans_Condensed-Italic.ttf</string>
		<string>OpenSans_Condensed-Light.ttf</string>
		<string>OpenSans_Condensed-LightItalic.ttf</string>
		<string>OpenSans_Condensed-Medium.ttf</string>
		<string>OpenSans_Condensed-MediumItalic.ttf</string>
		<string>OpenSans_Condensed-Regular.ttf</string>
		<string>OpenSans_Condensed-SemiBold.ttf</string>
		<string>OpenSans_Condensed-SemiBoldItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Bold.ttf</string>
		<string>OpenSans_SemiCondensed-BoldItalic.ttf</string>
		<string>OpenSans_SemiCondensed-ExtraBold.ttf</string>
		<string>OpenSans_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Italic.ttf</string>
		<string>OpenSans_SemiCondensed-Light.ttf</string>
		<string>OpenSans_SemiCondensed-LightItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Medium.ttf</string>
		<string>OpenSans_SemiCondensed-MediumItalic.ttf</string>
		<string>OpenSans_SemiCondensed-Regular.ttf</string>
		<string>OpenSans_SemiCondensed-SemiBold.ttf</string>
		<string>OpenSans_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>ProductSans-Black.ttf</string>
		<string>ProductSans-BlackItalic.ttf</string>
		<string>ProductSans-Bold.ttf</string>
		<string>ProductSans-BoldItalic.ttf</string>
		<string>ProductSans-Italic.ttf</string>
		<string>ProductSans-Light.ttf</string>
		<string>ProductSans-LightItalic.ttf</string>
		<string>ProductSans-Medium.ttf</string>
		<string>ProductSans-MediumItalic.ttf</string>
		<string>ProductSans-Regular.ttf</string>
		<string>ProductSans-Thin.ttf</string>
		<string>ProductSans-ThinItalic.ttf</string>
		<string>futur.ttf</string>
		<string>tt0205m_.ttf</string>
		<string>WorkSans-Black.ttf</string>
		<string>WorkSans-BlackItalic.ttf</string>
		<string>WorkSans-Bold.ttf</string>
		<string>WorkSans-BoldItalic.ttf</string>
		<string>WorkSans-ExtraBold.ttf</string>
		<string>WorkSans-ExtraBoldItalic.ttf</string>
		<string>WorkSans-ExtraLight.ttf</string>
		<string>WorkSans-ExtraLightItalic.ttf</string>
		<string>WorkSans-Italic-VariableFont_wght.ttf</string>
		<string>WorkSans-Italic.ttf</string>
		<string>WorkSans-Light.ttf</string>
		<string>WorkSans-LightItalic.ttf</string>
		<string>WorkSans-Medium.ttf</string>
		<string>WorkSans-MediumItalic.ttf</string>
		<string>WorkSans-Regular.ttf</string>
		<string>WorkSans-SemiBold.ttf</string>
		<string>WorkSans-SemiBoldItalic.ttf</string>
		<string>WorkSans-Thin.ttf</string>
		<string>WorkSans-ThinItalic.ttf</string>
		<string>WorkSans-VariableFont_wght.ttf</string>
		<string>Futura-CondensedLight.otf</string>
		<string>Futura Medium Italic font.ttf</string>
		<string>Futura XBlk BT.ttf</string>
		<string>GothamBold.ttf</string>
		<string>GothamBoldItalic.ttf</string>
		<string>GothamBook.ttf</string>
		<string>GothamBookItalic.ttf</string>
		<string>GothamLight.ttf</string>
		<string>GothamLightItalic.ttf</string>
		<string>GothamMedium.ttf</string>
		<string>GothamMediumItalic.ttf</string>
		<string>GothamMedium_1.ttf</string>
		<string>futura medium condensed bt.ttf</string>
		<string>Cormorant Garamond.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
